<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Focus Detector</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <header>
        <h1>Focus Detector</h1>
        <p>Video Stream:</p>
    </header>
    <main>
        <div class="video-container">
            <img src="/video_feed" alt="Video Stream" id="video-stream">
        </div>
        <div class="button-index">
            <a onclick="location.href='/result'">Result</a>
        </div>
    </main>
    <footer>
        <p>© 2024 Repay Team - Focus Detector AI</p>
    </footer>

    <script src="/static/script.js"></script>
</body>
</html>
